# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/IC2genalg.iml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

ic2-reactors/.settings/org.eclipse.core.resources.prefs

ic2-reactors/ic2-reactors.iml
